.hero-banner{

  background: linear-gradient(
    135deg,
    #4b6fe6 0%,
    #5d8ff0 55%,
    #6fb8f8 100%
  );

padding:45px;

border-radius:22px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

box-shadow:
0 12px 35px rgba(0,0,0,.08);

overflow:hidden;

}

.hero-left{

max-width:650px;

}

.hero-tag{

display:inline-block;

padding:8px 16px;

background:white;

border-radius:30px;

font-size:13px;

font-weight:600;

color:#021646;

margin-bottom:18px;

}

.hero-banner h1{

font-size:38px;

color:#2f1d1b;

margin-bottom:16px;

line-height:1.2;

}

.hero-banner p{

font-size:16px;

color:#5f5754;

line-height:1.8;

max-width:520px;

}

.hero-btn{

background:white;

color:#021646;

border:none;

padding:18px 28px;

border-radius:14px;

display:flex;

align-items:center;

gap:12px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.25s;

}

.hero-btn:hover{

background:#6E0805;

transform:translateY(-3px);

}

.hero-btn svg{

font-size:22px;

}

@media(max-width:900px){

.hero-banner{

flex-direction:column;

align-items:flex-start;

gap:30px;

padding:28px;

}

.hero-banner h1{

font-size:30px;

}

.hero-btn{

width:100%;

justify-content:center;

}

}