.party-dashboard{

padding:10px;

}

.party-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.party-header h1{

font-size:32px;

color:#510400;

}

.party-header p{

margin-top:6px;

color:#777;

}

.party-header button{

background:#510400;

color:white;

border:none;

padding:14px 22px;

border-radius:12px;

font-size:15px;

cursor:pointer;

transition:.3s;

}

.party-header button:hover{

background:#6c0a07;

}

@media(max-width:768px){

.party-header{

flex-direction:column;

align-items:flex-start;

gap:18px;

}

.party-header button{

width:100%;

}

}