.header{

height:70px;

 background: linear-gradient(
    90deg,
    #6fb8f8 0%,      /* Warm Cream */
    #c9d3e7 45%,     /* Light Dusty Maroon */
    #0e2368 100%     /* Deep Maroon */
  );
display:flex;

align-items:center;

justify-content:space-between;

padding:0 25px;
border-bottom:1px solid #E5D6D0;

box-shadow:0 2px 8px rgba(81,4,0,.08);

position:sticky;

top:0;

z-index:100;

}

.left{

display:flex;

align-items:center;

gap:15px;

}

.menu{

font-size:28px;

cursor:pointer;

color:rgb(1, 18, 117);

}

.header-title{

color:rgb(1, 18, 117);

font-size:24px;

font-weight:700;

}

.project{

padding:10px 18px;

background:#510400;

color:white;

border-radius:10px;

}