.stats-card{

background:white;

padding:24px;

border-radius:18px;

display:flex;

align-items:center;

gap:18px;

box-shadow:
0 8px 25px rgba(0,0,0,.06);

transition:.25s;

}

.stats-card:hover{

transform:translateY(-4px);

}

.stats-icon{

width:60px;

height:60px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:28px;

}

.stats-card p{

font-size:14px;

color:#888;

margin-bottom:8px;

}

.stats-card h2{

font-size:28px;

color:#2c2c2c;

}